[Unit]
Description=Bot bootstrap servisi
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/root/tg/bin/telegram-cli -k /root/tg/tg-server.pub -s /root/Bot/Beyin.lua
WorkingDirectory=/root/Bot
KillSignal=SIGKILL
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
